@model List<UC_alert_tool.Models.Storingen>
@{
    ViewBag.Title = "Home";
}

<div id="homepageTopWrapper" class="jumbotron text-center" >
    <div id="homepageTop" class="container">
        <h1 class="jumbotron-heading">UC Systems</h1>
        <p class="lead">Dit is het overzicht van alle actieve en recente storingen. Alle storingen die nog geen einddatum hebben, zullen worden voozien van updates en een einddatum als deze bekend is bij ons</p>
    </div>
</div>

@for (int i = 0; i < Model.Count(); i += 3)
{
    <div class="row">
        @foreach (var item in Model.Skip(i).Take(3)) // use 3 if the collumn width is 4 - use 4 if the collomn width is 3
        {
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.DisplayFor(modelItem => item.Titel)
                        @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <a href="~/storingen/edit/@(item.Id)" class="glyphicon glyphicon-cog pull-right"></a>
                        }
                    </h3>
                </div>
                <div class="panel-body">@Html.DisplayFor(modelItem => item.Inhoud)</div>
                <div class="panel-footer">
                    van @item.Begindatum.ToString("d") @item.Begintijd<br />
                    @if (item.Einddatum != null)
                    {
                        @:tot @item.Einddatum.Value.ToString("dd-MM-yyyy") @item.Eindtijd
                    }
                    else
                    {
                        @:Actief - Geen einddatum bekend
                    }
                </div>
            </div>
        </div>
        }
    </div>
}