<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UC Alert Tool - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UC Storingen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Nieuwe storing melden", "Index", "Rapporteren")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Admin tools
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Alle storingen", "Index", "Storingen")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("email testen", "emailtester", "Testers")</li>
                                <li>@Html.ActionLink("sms testen", "smstester", "Testers")</li>
                                <li>@Html.ActionLink("producten", "Index", "Producten")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("Achtergrond taken", "", "Hangfire")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Instellingen
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Instellingen", "Index", "Instellingen")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("email template", "emailtemplate", "Instellingen")</li>
                                <li>@Html.ActionLink("log instellingen", "logging", "Instellingen")</li>
                                <li>@Html.ActionLink("SMS gateway", "smsgateway", "Instellingen")</li>
                                <li>@Html.ActionLink("SMTP server", "emailserver", "Instellingen")</li>
                            </ul>
                        </li>   
                    }
                </ul>


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UC Systems Alert System
            </p>
            <p>
                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    @:Website versie : @ViewContext.Controller.GetType().Assembly.GetName().Version
                }
            </p>
        </footer>   
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
    @RenderSection("scripts", required: false)
</body>
</html>
