@model UC_alert_tool.Models.Storingen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Storingen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inhoud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inhoud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EigenaarID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EigenaarID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begindatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begindatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Einddatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Einddatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Begintijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begintijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eindtijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eindtijd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGesloten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGesloten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producten.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producten.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Storing aanpassen", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar overzicht", "Index")
</p>
