@model IEnumerable<UC_alert_tool.Models.Storingen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inhoud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EigenaarID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Begindatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Einddatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGesloten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producten.Naam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inhoud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EigenaarID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Begindatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Einddatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsGesloten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producten.Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
