@using UC_alert_tool.Models
@model Storingen
@{
    ViewBag.Title = "Nieuwe melding";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Storing melden</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_MeldingPartial")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Storing aanmaken" class="btn btn-default" id="submitbutton" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/Scripts/projectScripts/generalscript.js")
    @Scripts.Render("~/bundles/jqueryval")
}